<component name="libraryTable">
  <library name="logback-core-1.2.6-sources">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/proxy/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-core/1.2.6/2c59d37fdc293ee9329ebb0bb22bc709eafa1f56/logback-core-1.2.6-sources.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>