<component name="libraryTable">
  <library name="spring-boot-gradle-plugin-2.5.51">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/proxy/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-gradle-plugin/2.5.5/4657b8297539c2f7c9aaafac3189be11529ee54d/spring-boot-gradle-plugin-2.5.5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>