<component name="libraryTable">
  <library name="spring-boot-gradle-plugin-2.5.5">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/proxy/.gradle/caches/jars-9/1591a0612c4850def495ca7f702d6610/spring-boot-gradle-plugin-2.5.5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>