<component name="libraryTable">
  <library name="spring-boot-buildpack-platform-2.5.5-sources">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/proxy/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-buildpack-platform/2.5.5/c277707a150277c6058ece90fec594a1faef184c/spring-boot-buildpack-platform-2.5.5-sources.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>